#nprogress .bar {
  height: 4px;
  background: #ffaa00;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2) 0px,
    rgba(0, 0, 0, 0.1) 2px,
    transparent 2px,
    transparent 4px
  );
}
